@charset "UTF-8";
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* =============================================================================
  @mixin
   ========================================================================== */
/* line 14, ../sass/common-pc.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* =============================================================================
共通設定
========================================================================== */
/* line 19, ../sass/common-pc.scss */
html {
  margin: auto;
  font-size: 62.5%;
}

@media print {
  /* line 24, ../sass/common-pc.scss */
  html {
    -webkit-print-color-adjust: exact;
  }
}
/* line 28, ../sass/common-pc.scss */
body {
  margin: auto;
  width: 100%;
  height: auto;
  background-position: top center;
  display: none;
  color: #000;
  font-family: 'HiraKakuStd W4','Hiragino Kaku Gothic Pro',游ゴシック体, 游ゴシック, 'Yu Gothic', YuGothic,メイリオ, Verdana, Arial, sans-serif;
  /* BEGIN addtion by Fukuda in Oct 2018 */
  font-size: 1.6rem;
  /* END addtion by Fukuda in Oct 2018 */
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
  position: relative;
}

/* line 43, ../sass/common-pc.scss */
.pc {
  display: block;
}

/* line 46, ../sass/common-pc.scss */
.sp {
  display: none;
}

/**/
/* line 50, ../sass/common-pc.scss */
.mrt20 {
  margin-top: 20px !important;
}

/* line 53, ../sass/common-pc.scss */
.mrt25 {
  margin-top: 25px !important;
}

/* line 56, ../sass/common-pc.scss */
.mrt30 {
  margin-top: 30px !important;
}

/* line 59, ../sass/common-pc.scss */
.mrt35 {
  margin-top: 35px !important;
}

/* line 62, ../sass/common-pc.scss */
.mrt40 {
  margin-top: 40px !important;
}

/* line 65, ../sass/common-pc.scss */
.mrt45 {
  margin-top: 45px !important;
}

/* line 68, ../sass/common-pc.scss */
.mrt50 {
  margin-top: 50px !important;
}

/* line 71, ../sass/common-pc.scss */
.mrt55 {
  margin-top: 55px !important;
}

/* line 74, ../sass/common-pc.scss */
.mrt60 {
  margin-top: 60px !important;
}

/* line 77, ../sass/common-pc.scss */
.mrb40 {
  margin-bottom: 40px !important;
}

/* line 80, ../sass/common-pc.scss */
.mrb45 {
  margin-bottom: 45px !important;
}

/* line 83, ../sass/common-pc.scss */
.mrb50 {
  margin-bottom: 50px !important;
}

/* line 86, ../sass/common-pc.scss */
.mrb60 {
  margin-bottom: 60px !important;
}

/* line 89, ../sass/common-pc.scss */
.pdt40 {
  padding-top: 40px !important;
}

/* line 92, ../sass/common-pc.scss */
.pdt45 {
  padding-top: 45px !important;
}

/* line 95, ../sass/common-pc.scss */
.pdt50 {
  padding-top: 50px !important;
}

/* line 98, ../sass/common-pc.scss */
.pdt55 {
  padding-top: 55px !important;
}

/* line 101, ../sass/common-pc.scss */
.pdt60 {
  padding-top: 60px !important;
}

/* line 104, ../sass/common-pc.scss */
.pdb20 {
  padding-bottom: 20px !important;
}

/* line 107, ../sass/common-pc.scss */
.pdb30 {
  padding-bottom: 30px !important;
}

/* line 110, ../sass/common-pc.scss */
.pdb40 {
  padding-bottom: 40px !important;
}

/* line 113, ../sass/common-pc.scss */
.pdb45 {
  padding-bottom: 45px !important;
}

/* line 116, ../sass/common-pc.scss */
.pdb50 {
  padding-bottom: 50px !important;
}

/* line 119, ../sass/common-pc.scss */
.pdb60 {
  padding-bottom: 60px !important;
}

/* line 122, ../sass/common-pc.scss */
.pdb70 {
  padding-bottom: 70px !important;
}

/* line 125, ../sass/common-pc.scss */
.pdb95 {
  padding-bottom: 95px !important;
}

/* line 128, ../sass/common-pc.scss */
.pdb100 {
  padding-bottom: 100px !important;
}

/* =============================================================================
ヘッダー
========================================================================== */
/* line 134, ../sass/common-pc.scss */
.main_header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: block;
  min-width: 1000px;
  min-height: 776px;
  max-height: 776px;
  padding-bottom: 0%;
  background: url("/image/top_image.jpg") no-repeat center center;
  background-size: cover;
}
/* line 146, ../sass/common-pc.scss */
.main_header .top_wrap {
  margin: auto;
  width: 1000px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}
/* line 153, ../sass/common-pc.scss */
.main_header .top_wrap .top_logo {
  text-align: center;
  padding-top: 140px;
}
/* line 157, ../sass/common-pc.scss */
.main_header .top_wrap h1.top_title {
  text-align: center;
  margin: 100px 0 0;
  font-family: "リュウミン EB-KL","Ryumin ExtraBold KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
/* line 166, ../sass/common-pc.scss */
.main_header .top_wrap h1.top_title span {
  margin: 27px 0 0 0;
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  font-size: 2.8rem;
  color: #fff;
}
/* line 173, ../sass/common-pc.scss */
.main_header .top_wrap .top_title_read {
  text-align: center;
  margin: 30px 0 0;
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  font-size: 2.2rem;
  line-height: 3.0rem;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
/* line 182, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav {
  width: 1000px;
  margin: 60px auto 0;
}
/* line 185, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* line 189, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li {
  display: inline-block;
  width: 140px;
  height: 36px;
  box-sizing: border-box;
  border: solid 1px #fff;
  margin: 0 6px;
}
/* line 196, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  line-height: 36px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 206, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .3s;
}
/* line 211, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li span {
  color: #fc8eb8;
  font-size: 11px;
}
/* line 215, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(1) {
  width: 161px;
}
/* line 218, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(2) {
  width: 154px;
}
/* line 221, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(3) {
  width: 146px;
}
/* line 224, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(4) {
  width: 159px;
}
/* line 227, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(5) {
  width: 152px;
}
/* line 230, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(6) {
  width: 139px;
}
/* line 233, ../sass/common-pc.scss */
.main_header .top_wrap .main_nav ul li:nth-child(7) {
  width: 115px;
  background: none;
}
/* line 240, ../sass/common-pc.scss */
.main_header .top_wrap .under_arrow {
  display: block;
  margin: 20px auto 0;
  text-align: center;
}
/* line 246, ../sass/common-pc.scss */
.main_header .wrap_mv {
  position: absolute;
  z-index: 0;
  width: 548px;
  height: 580px;
  right: 0;
  top: 0;
  text-align: center;
  background: url(/image/bg_mvtxt.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 257, ../sass/common-pc.scss */
.main_header .wrap_mv img {
  margin: 90px 20px 0 auto;
}

/* line 263, ../sass/common-pc.scss */
.main_header_se {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: block;
  min-width: 1000px;
  min-height: 90px;
  max-height: 90px;
  padding-bottom: 0%;
  background-size: cover;
  border-bottom: solid 1px #dcdcdc;
}
/* line 275, ../sass/common-pc.scss */
.main_header_se .top_wrap {
  margin: auto;
  width: 1000px;
}
/* line 278, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav {
  width: 1000px;
  margin: 0px auto;
}
/* line 281, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul {
  margin: 5px auto;
  width: 100%;
  text-align: center;
  letter-spacing: -.4em;
  padding-top: 15px;
}
/* line 286, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li {
  display: inline-block;
  width: 140px;
  height: 36px;
  box-sizing: border-box;
  border: solid 1px #1d1b2c;
  margin: 0 6px;
  vertical-align: middle;
  letter-spacing: normal;
}
/* line 295, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li a {
  letter-spacing: .1rem;
  display: block;
  color: #1d1b2c;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  line-height: 36px;
  width: 100%;
  height: 100%;
}
/* line 305, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li a:hover {
  color: #fff;
  background-color: #1d1b2c;
  transition: all .3s;
}
/* line 311, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li span {
  color: #fc8eb8;
  font-size: 1.1rem;
}
/* line 315, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li:nth-child(1) {
  margin: 0;
  margin-right: 108px;
  border: 0;
  width: 120px;
  height: 51px;
}
/* line 322, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li:nth-child(1) a:hover {
  color: #fff;
  background: #fff;
  opacity: .8;
  transition: all .3s;
}

/* BEGIN addtion by Fukuda in Oct 2018 */
.main_header_se .top_wrap .main_nav ul li:nth-child(1) a img {
  width: 118px;
}
/* END addtion by Fukuda in Oct 2018 */

/* line 330, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li:nth-child(6) {
  margin-right: 0;
}
/* line 335, ../sass/common-pc.scss */
.main_header_se .top_wrap .main_nav ul li.active a {
  color: #fff;
  background: #1d1b2c;
  transition: all .3s;
}

/* line 345, ../sass/common-pc.scss */
.footer_top {
  position: relative;
  margin: 40px auto 0 auto;
  width: 100%;
  display: block;
  min-width: 1000px;
}
/* line 351, ../sass/common-pc.scss */
.footer_top .whatservice {
  background: #677892;
}
/* line 353, ../sass/common-pc.scss */
.footer_top .whatservice ul {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 361, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(1) {
  width: 300px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.4rem;
  vertical-align: top;
}
/* line 368, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(2) {
  width: 370px;
  margin: 5px 0;
  border-left: solid 1px #455266;
  border-right: solid 1px #455266;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
  vertical-align: top;
}
/* line 376, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(2) img {
  float: left;
  padding-top: 5px;
}
/* line 380, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(2) .tel {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
  font-size: 3.0rem;
  display: inline-block;
  margin: 0px 0 0 10px;
  letter-spacing: .1rem;
}
/* line 389, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(2) span {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  margin: 0 0 0 10px;
}
/* line 396, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(3) {
  width: 330px;
  padding: 2px 0 0;
  vertical-align: top;
  box-sizing: border-box;
  text-align: right;
}
/* line 402, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(3) a {
  display: inline-block;
  width: 280px;
  height: 70px;
  line-height: 70px;
  color: #fff;
  text-decoration: none;
  background: #1d1b29;
  text-align: center;
  vertical-align: middle;
}
/* line 412, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(3) a img {
  vertical-align: middle;
  padding: 0 8px 10px 0;
}
/* line 416, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(3) a span {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  font-size: 2.2rem;
}
/* line 420, ../sass/common-pc.scss */
.footer_top .whatservice ul li:nth-of-type(3) a:hover {
  background: #44424b;
  transition: all .3s;
}
/* line 428, ../sass/common-pc.scss */
.footer_top .group_link {
  background: #3d4b60;
  text-align: center;
}
/* line 431, ../sass/common-pc.scss */
.footer_top .group_link p {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  padding-top: 36px;
  margin: 0 auto 24px;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  color: #fff;
}
/* line 439, ../sass/common-pc.scss */
.footer_top .group_link ul {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
}
/* line 449, ../sass/common-pc.scss */
.footer_top .group_link ul li a:hover {
  opacity: .8;
  transition: all .3s;
}

/* BEGIN addition by Fukuda in Oct 2018 */
.footer_top .group_link ul {
  box-sizing: border-box;
  width: 840px;
  flex-wrap: wrap;
}

.footer_top .group_link ul > li {
  width: calc(25% - 20px);
  margin: 0 10px;
}
.footer_top .group_link ul > li:nth-child(n+5) {
  margin-top: 20px;
}

.footer_top .group_link ul > li > a {
  display: block;
  vertical-align: bottom;
}

.footer_top .group_link ul > li > a > img {
  vertical-align: bottom;
  width: 100%;
}
/* END addtion by Fukuda in Oct 2018 */

/* line 457, ../sass/common-pc.scss */
.footer_top .footer_bottom {
  position: relative;
  background: #1d1b29;
  text-align: center;
  padding: 12px 0 0 0;
}
/* line 462, ../sass/common-pc.scss */
.footer_top .footer_bottom .left {
  display: inline-block;
  width: 328px;
  vertical-align: top;
  padding: 0 0 0 2px;
}
/* line 467, ../sass/common-pc.scss */
.footer_top .footer_bottom .left img {
  display: block;
}
/* BEGIN addition by Fukuda in Oct 2018 */
.footer_top .footer_bottom .left > img[alt="logo"] {
  width: 123px;
}
/* END addition by Fukuda in Oct 2018 */

/* line 470, ../sass/common-pc.scss */
.footer_top .footer_bottom .left .zipcode {
  display: block;
  color: #fff;
  text-align: left;
  padding: 18px 0 0 0;
  font-size: 1.2rem;
}
/* line 477, ../sass/common-pc.scss */
.footer_top .footer_bottom .left .adress {
  display: block;
  color: #fff;
  text-align: left;
  padding: 10px 0 0 0;
  font-size: 1.2rem;
}
/* line 484, ../sass/common-pc.scss */
.footer_top .footer_bottom .left img.mailicon {
  display: block;
  float: left;
  padding: 18px 14px 0 0;
}
/* line 491, ../sass/common-pc.scss */
.footer_top .footer_bottom .left a:hover img {
  opacity: .8;
  transition: all .3s;
}
/* line 497, ../sass/common-pc.scss */
.footer_top .footer_bottom .left .tel {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-size: 1.8rem;
  padding: 15px 0 0 0;
  letter-spacing: .1rem;
}
/* line 505, ../sass/common-pc.scss */
.footer_top .footer_bottom .left .tel:hover {
  opacity: .8;
  transition: all .3s;
}
/* line 510, ../sass/common-pc.scss */
.footer_top .footer_bottom .left span.opentime {
  display: block;
  color: #fff;
  text-align: left;
  font-size: 1.0rem;
  margin: -8px 0 0 0;
}
/* line 518, ../sass/common-pc.scss */
.footer_top .footer_bottom .right {
  position: relative;
  display: inline-block;
  width: 660px;
}
/* line 522, ../sass/common-pc.scss */
.footer_top .footer_bottom .right p {
  color: #fff;
  text-align: left;
  line-height: 2.3rem;
  margin: 0;
  padding: 0;
  font-size: .7rem;
}
/* line 529, ../sass/common-pc.scss */
.footer_top .footer_bottom .right p a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-size: 1.2rem;
  padding: 0;
  letter-spacing: 0.05rem;
}
/* line 537, ../sass/common-pc.scss */
.footer_top .footer_bottom .right p a:hover {
  opacity: .8;
  transition: all .3s;
  text-decoration: underline;
}
/* line 544, ../sass/common-pc.scss */
.footer_top .footer_bottom .right p:nth-of-type(3) {
  margin-left: 30px;
}
/* line 548, ../sass/common-pc.scss */
.footer_top .footer_bottom p.copyright {
  display: block;
  width: 1000px;
  border-top: solid 1px #fff;
  margin: 12px auto 0;
  padding: 10px 0 10px;
  color: #fff;
  font-size: 1.0rem;
  font-weight: lighter;
}

/* line 560, ../sass/common-pc.scss */
.pageTop {
  position: absolute;
  top: -24px;
  right: 0px;
  z-index: 11;
}
/* line 565, ../sass/common-pc.scss */
.pageTop a {
  display: block;
  width: 60px;
  height: 60px;
  background: url(/image/totop.png) 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
}
/* line 574, ../sass/common-pc.scss */
.pageTop a:hover {
  opacity: .8;
}

/* =============================================================================
パンくず
========================================================================== */
/* line 583, ../sass/common-pc.scss */
.bread {
  margin: 15px 0 0 0;
  width: 980px;
  height: 30px;
}
/* line 587, ../sass/common-pc.scss */
.bread ul {
  margin: auto;
  width: 950px;
  height: 30px;
}
/* line 591, ../sass/common-pc.scss */
.bread ul li {
  margin-right: 11px;
  float: left;
  color: #727171;
  font-size: 10px;
  line-height: 30px;
  box-sizing: border-box;
}
/* line 598, ../sass/common-pc.scss */
.bread ul li a {
  color: #727171;
}
/* line 601, ../sass/common-pc.scss */
.bread ul li:last-child {
  margin-right: 0;
}
/* line 605, ../sass/common-pc.scss */
.bread ul .bread_parent {
  padding-right: 20px;
  position: relative;
}
/* line 608, ../sass/common-pc.scss */
.bread ul .bread_parent:after {
  content: ">";
  position: absolute;
  top: 0;
  right: 0;
}

/* line 618, ../sass/common-pc.scss */
.section_pan {
  background: white;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: block;
  min-width: 1000px;
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-size: 12px;
}
/* line 631, ../sass/common-pc.scss */
.section_pan ul {
  width: 1000px;
  text-align: left;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
/* line 637, ../sass/common-pc.scss */
.section_pan ul li {
  color: #adadad;
  display: inline-block;
}
/* line 640, ../sass/common-pc.scss */
.section_pan ul li a {
  display: inline-block;
  color: #adadad;
  text-decoration: none;
  padding: 0 .5rem 0;
}
/* line 646, ../sass/common-pc.scss */
.section_pan ul li a:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: .8;
  text-decoration: underline;
}
/* line 653, ../sass/common-pc.scss */
.section_pan ul li.act {
  display: inline-block !important;
  color: #333333;
  padding: 0 .5rem 0;
}
/* line 659, ../sass/common-pc.scss */
.section_pan div {
  width: 1000px;
  text-align: left;
  margin: 0 auto;
  font-size: .9rem;
}
/* line 664, ../sass/common-pc.scss */
.section_pan div span:nth-of-type(1) {
  color: #adadad;
  display: inline-block;
}
/* line 667, ../sass/common-pc.scss */
.section_pan div span:nth-of-type(1) a {
  display: inline-block;
  color: #adadad;
  text-decoration: none;
  padding: 0 .5rem 0;
  font-size: .9rem;
}
/* line 675, ../sass/common-pc.scss */
.section_pan div h4 {
  font-size: .9rem;
  display: inline-block !important;
  color: #333333;
  padding: 0 .5rem 0;
}

/* =============================================================================
下層ページ
========================================================================== */
/* line 687, ../sass/common-pc.scss */
.content {
  margin: auto;
  width: 980px;
  height: auto;
  overflow: hidden;
}

/* line 695, ../sass/common-pc.scss */
.content_inner h1 {
  margin: 27px 0 0 0;
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  font-size: 35px;
}

/* line 701, ../sass/common-pc.scss */
.e_mail {
  width: 255px;
}

/* line 704, ../sass/common-pc.scss */
.e_mail2 {
  width: 255px;
}

.goto_top{
  position:fixed;
  bottom:10px;
  right:10px;
  display:inline-block;
  z-index:10001;
}

/* BEGIN addition by Fukuda in Oct 2018 */

/* =============================================================================
パンくず
========================================================================== */
nav.breadcrumb { font-size: 14px; }
nav.breadcrumb > ul { padding: 0 16px; }
nav.breadcrumb > ul > li { margin: 12px 0; }

/* Arrow */
nav.breadcrumb > ul > span {
  width: 8px;
  height: 8px;
  margin: 0 10px;
}

/* Link and span */
nav.breadcrumb > ul > li > span { margin: 0 0 0 10px; }

nav.breadcrumb > ul > li > a,
nav.breadcrumb > ul > li > span {
  padding: 7px 11px;
}

/* Child menu */
nav.breadcrumb > ul > li:hover > ul { display: block; }

/* =============================================================================
AIMNEXT Note Banner
========================================================================== */
picture.aimnextnote-banner { margin: 0 auto 60px; }
picture.aimnextnote-banner.onIndex { margin: 0 auto; }

/* END addtion by Fukuda in Oct 2018 */
