@charset "UTF-8";
/* =============================================================================
  @mixin
   ========================================================================== */
/* line 5, ../sass/index-print.scss */
.section1 {
  background: url("../../img/sq_bg.png") repeat center center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: block;
  min-width: 1000px;
  text-align: center;
}
/* line 14, ../sass/index-print.scss */
.section1 h2 {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  padding-top: 95px;
  margin: 0 auto 20px;
  font-size: 3.6rem;
  color: #000;
}
/* line 20, ../sass/index-print.scss */
.section1 h2 span {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  color: #2187a4;
}
/* line 25, ../sass/index-print.scss */
.section1 .os_description {
  margin: 0 auto 70px;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
/* line 31, ../sass/index-print.scss */
.section1 .top_slider {
  height: 498px;
  padding-bottom: 80px;
  overflow: hidden;
}
/* line 35, ../sass/index-print.scss */
.section1 .top_slider div.items {
  position: relative;
  display: block;
  width: 320px;
  height: 350px;
  border: solid 8px #dcdcdc;
  margin: 50px 10px 0;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
}
/* line 45, ../sass/index-print.scss */
.section1 .top_slider div.items .head {
  position: absolute;
  top: -60px;
  left: calc(50% - 55px);
}
/* line 50, ../sass/index-print.scss */
.section1 .top_slider div.items span:nth-of-type(1) {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  letter-spacing: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: inherit;
  height: 100px;
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 3.0rem;
  padding: 50px 0 0;
}
/* line 63, ../sass/index-print.scss */
.section1 .top_slider div.items img {
  display: block;
  margin: 0 auto;
}
/* line 67, ../sass/index-print.scss */
.section1 .top_slider div.items span:nth-of-type(2) {
  letter-spacing: 0;
  display: block;
  text-align: left;
  vertical-align: middle;
  height: 80px;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.8rem;
  padding: 12px 0px 5px 10px;
  box-sizing: border-box;
}
/* line 80, ../sass/index-print.scss */
.section1 .top_slider div.items a.more_btn {
  position: absolute;
  left: calc(50% - 75px);
  bottom: 27px;
  width: 150px;
  height: 35px;
  display: inline-block;
  display: inline-block;
  line-height: 35px;
  font-size: 1.7rem;
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  color: #fff;
  text-decoration: none;
  background: #1d1b29;
  letter-spacing: 0.05rem;
}
/* line 95, ../sass/index-print.scss */
.section1 .top_slider div.items a.more_btn:hover {
  background: #44424b;
  transition: all .3s;
}

/* line 103, ../sass/index-print.scss */
.section2 {
  background: #f8f8f8;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: block;
  min-width: 1000px;
  text-align: center;
}
/* line 112, ../sass/index-print.scss */
.section2 h2 {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  padding-top: 100px;
  margin: 0 auto 42px;
  font-size: 3.6rem;
  color: #000;
  background: transparent;
}
/* line 119, ../sass/index-print.scss */
.section2 h2 span {
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  color: #2187a4;
}
/* line 124, ../sass/index-print.scss */
.section2 dl.info_box {
  width: 834px;
  height: 220px;
  overflow: scroll;
  margin: 0px auto 14px;
  line-height: 2rem;
  background: transparent;
}
/* line 132, ../sass/index-print.scss */
.section2 dl.info_box dt {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 2.4rem;
  font-size: 1.4rem;
  vertical-align: top;
  margin: 2px 0 27px;
  background: transparent;
}
/* line 141, ../sass/index-print.scss */
.section2 dl.info_box dt span {
  display: block;
  width: 100px;
  height: 20px;
  font-size: 1.1rem;
  line-height: 20px;
  color: #fff;
  background: #2187a4;
}
/* line 151, ../sass/index-print.scss */
.section2 dl.info_box dd {
  position: relative;
  display: inline-block;
  width: 660px;
  margin: 4px 0 0px 30px;
  padding: 0 0 2px 0;
  min-height: 54px;
  font-size: 1.4rem;
  line-height: 2.0rem;
  text-align: left;
  vertical-align: top;
  background: transparent;
}
/* line 163, ../sass/index-print.scss */
.section2 dl.info_box dd a {
  color: #333333;
}
/* line 166, ../sass/index-print.scss */
.section2 dl.info_box dd:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -134px;
  width: 800px;
  height: 1px;
  display: block;
  border-bottom: dotted 1px #ccc;
}
/* line 178, ../sass/index-print.scss */
.section2 .more_btn {
  width: 150px;
  height: 35px;
  display: inline-block;
  margin: 13px 0 100px;
}
/* line 183, ../sass/index-print.scss */
.section2 .more_btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  font-family: "リュウミン R-KL","Ryumin Regular KL","游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  color: #fff;
  text-decoration: none;
  background: #1d1b29;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
}
/* line 194, ../sass/index-print.scss */
.section2 .more_btn a:hover {
  background: #44424b;
  transition: all .3s;
}

/* line 202, ../sass/index-print.scss */
.top_slider .slick-prev {
  top: 45%;
  left: 55px;
  width: 51px;
  height: 51px;
  z-index: 1;
  background: url("../../img/slide_left.png");
  background-size: 51px 51px;
}
/* line 210, ../sass/index-print.scss */
.top_slider .slick-prev:hover {
  background: url("../../img/slide_left.png");
  background-size: 51px 51px;
  opacity: .8;
  transition: all .3s;
}
/* line 216, ../sass/index-print.scss */
.top_slider .slick-prev:focus {
  background: url("../../img/slide_left.png");
  background-size: 51px 51px;
}
/* line 220, ../sass/index-print.scss */
.top_slider .slick-prev:before {
  display: none;
}
/* line 224, ../sass/index-print.scss */
.top_slider .slick-next {
  top: 45%;
  right: 55px;
  width: 51px;
  height: 51px;
  z-index: 1;
  background: url("../../img/slide_right.png");
  background-size: 51px 51px;
}
/* line 232, ../sass/index-print.scss */
.top_slider .slick-next:hover {
  background: url("../../img/slide_right.png");
  background-size: 51px 51px;
  opacity: .8;
  transition: all .3s;
}
/* line 238, ../sass/index-print.scss */
.top_slider .slick-next:focus {
  background: url("../../img/slide_right.png");
  background-size: 51px 51px;
}
/* line 242, ../sass/index-print.scss */
.top_slider .slick-next:before {
  display: none;
}
